#two_factor_enable_modal .app-links {
    padding-left: 20% !important;
}

#two_factor_enable_modal .codes {
    padding-left: 20%; 
    text-align: center;
}

#two_factor_enable_modal .auth_app_images {
    width: 46% !important; 
    height: 46px !important;
}


