{% extends "horizon/common/_modal.html" %}
{% block modal_id %}two_factor_enable_modal{% endblock %}
{% block modal-header %}Setting up Two-Factor Authentication{% endblock %}

{% block modal-body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 middle">
      <h4>Download an App</h5>
      <div class="steps">
        <div class="col-md-2 step">1</div>
        <p class="col-md-10">Download and open an authentication app, e.g.: <b>Google Authenticator</b></p>
	<p class="app-links" style="padding-left: 20%;">
		<a target="_blank" href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en'><img style ="width:45%; height: 48px !important;" alt='Get it on Google Play' src='{{ STATIC_URL }}dashboard/img/google-play.png'/></a>

<!--<a href='https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8tyle'><img style="width:57%;" alt='Downlaod from App Store' src='https://static1.squarespace.com/static/51ef28c5e4b04f8f7e2114d8/t/53b483cfe4b0a95d690053b0/1404339181456/Apple.png?format=500'/></a>-->
<a target="_blank" href ='https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8tyle'><img style="width:46% !important; height: 46px !important;" class="app-store-download" src="{{ STATIC_URL }}dashboard/img/app-store.png" alt="Download from App Store"></a>
	</p>
      </div>
      <h4> Configure your Account</h4>
      <div class="steps">
        <div class="col-md-2 step">2</div>
        <p class="col-md-10">Configure a new account using any of the following:</p>
      </div>
      <ul class="codes" style ="padding-left: 20%; text-align:center;">
        <li><p>Scan this QR code</p>
            {% if two_factor_qr_encoded %}
            <p><img src="data:image/svg+xml;base64,{{ two_factor_qr_encoded }}" /></p>
            {% endif %}
        </li>
          <li class ="key-display"><p>Insert this key manually</p>
              {% if two_factor_key %}
              <p class="manual_code"><strong>{{ two_factor_key }}</strong></p>
              {% endif %}
          </li>
      </ul>
    </div>
    <div class="col-md-6">

      <h4>Verify the Two Factor Code</h4>
      <div class="steps">
          <div class="col-md-2 step">3</div>
          <p class="col-md-10"><label>Enter the code shown in your Authenticator app</label><input class="form-control" id="confirmation_code" type="text"></p>
      </div>

      <h4>Access your account</h4>
      <div class="steps">
        <div class="col-md-2 step">4</div>
            <p class="col-md-10">Whenever you want to access your account, you will be asked for a verification code, which you can get from the Authenticator App after  you configure it.</p>
      </div>
      </div>
    </div>
</div>


<script type="text/javascript">

    // AJAX setup functions
    var beforeSend = function(xhr, settings) {
        horizon.modals.modal_spinner(gettext("Loading"));
    };

    var complete = function(){
        horizon.modals._request = null;
        horizon.modals.spinner.modal('hide');
    };

    var error = function(jqXHR, status, errorThrown) {
        if (jqXHR.status === 401){
            var redir_url = jqXHR.getResponseHeader("X-Horizon-Location");
            if (redir_url){
                location.href = redir_url;
            } else {
                location.reload(true);
            }
        }
        else {
            if (!horizon.ajax.get_messages(jqXHR)) {
                // Generic error handler. Really generic.
                horizon.alert("danger", gettext("An error occurred. Please try again later."));
            }
        }
    };


$(".enable_2fa").click(function(e) {
    e.preventDefault();

    // If there's an existing modal request open, cancel it out.
    if (horizon.modals._request && typeof(horizon.modals._request.abort) !== undefined) {
        horizon.modals._request.abort();
    }
 
    var auth_code = $('#confirmation_code').val();
    var secret = $('.manual_code').text();
    
    $(this).attr('disabled','disabled');
    console.log(auth_code);
    $('.enable_2fa').prop('disabled', true);

    horizon.modals._request = $.ajax({
        /*url: '/dashboard/settings/authsettings/ajax/validate_code/',*/
        url: "{% url 'horizon:settings:authsettings:validate_code' %}",
        data: {
          "auth_code": auth_code,
          "secret": secret
        },
        dataType: "json",
        beforeSend: beforeSend,
        complete: complete,
        success: function (data, textStatus, jqXHR) {
            if (data.totp_authenticated) {
                //$("#modal_wrapper .modal").last().modal("hide");
                modal = horizon.modals.success(data, textStatus, jqXHR);
                alert('Success! Codes are matching. Redirecting you back to the 2FA page. Please wait');
                location.reload();
            } else {
                $('.enable_2fa').removeAttr('disabled');
                $("#two_factor_enable_modal").modal("show");
                $('#two_factor_enable_modal').css('overflow', 'auto');
                $('#confirmation_code').val("");
                alert('Code Mismatch!. Please scan the QR code and enter the correct code from your Authenticator app or else go back and regenerate the Key.');
            }
        },
        error: error
      });
});

</script>

{% endblock %}

{% block modal-footer %}
    <a class="btn btn-primary enable_2fa">Enable Two-Factor Authentication</a>
{% endblock %}
